name: Default workflow

on:
  push:
    paths-ignore:
      - 'firebase_functions/**'
    branches-ignore:
      - main
      - dev

jobs:
  flutter-test-analyze:
    uses: ./.github/workflows/flutter.analyze-test.action.yaml
    with:
      flutter_version: '3.24.5'
    secrets: inherit
  flutter-build:
    needs: [ flutter-test-analyze ]
    uses: ./.github/workflows/flutter.build.action.yaml
    with:
      flutter_version: '3.24.5'
      android_output: 'apk'
    secrets: inherit