name: Dev workflow

on:
  push:
    paths-ignore:
      - 'page/**'
      - 'firebase_functions/**'
    branches:
      - dev

jobs:
  flutter-test-analyze:
    uses: ./.github/workflows/flutter.analyze-test.action.yaml
    with:
      flutter_version: '3.19.3'
    secrets: inherit
  flutter-build:
    needs: [ flutter-test-analyze ]
    uses: ./.github/workflows/flutter.build.action.yaml
    with:
      flutter_version: '3.19.3'
      android_output: 'aab'
    secrets: inherit
  fastlane-dry-run:
    needs: [ flutter-build ]
    uses: ./.github/workflows/fastlane.action.yaml
    with:
      lane: 'dry_run'
    secrets: inherit