name: Dev workflow

on:
  push:
    branches:
      - dev

jobs:
  flutter-test-analyze:
    uses: ./.github/workflows/flutter.analyze-test.action.yaml
    with:
      flutter_version: '3.0.1'
  flutter-build:
    needs: [flutter-test-analyze]
    uses: ./.github/workflows/flutter.build.action.yaml
    with:
      flutter_version: '3.0.1'
      android_output: 'apk'
    secrets:
      passphrase: ${{ secrets.PASSPHRASE }}
  flutter-build-2:
    needs: [ flutter-test-analyze ]
    uses: ./.github/workflows/flutter.build.action.yaml
    with:
      flutter_version: '3.0.1'
      android_output: 'aab'
    secrets:
      passphrase: ${{ secrets.PASSPHRASE }}