name: Dev workflow

on:
  push:
    branches:
      - dev

jobs:
  flutter-test-analyze:
    uses: ./.github/workflows/flutter.analyze-test.action.yaml
    with:
      flutter_version: '2.10.1'
  functions:
    uses: ./.github/workflows/functions.action.yaml
  flutter-build:
    needs: [flutter-test-analyze]
    uses: ./.github/workflows/flutter.build.action.yaml
    with:
      flutter_version: '2.10.1'
      android_output: 'abb'
    secrets:
      passphrase: ${{ secrets.PASSPHRASE }}
  fastlane:
    needs: [flutter-build]
    uses: ./.github/workflows/fastlane.action.yaml
    with:
      lane: 'beta'