name: Fastlane

on:
  workflow_call:
    inputs:
      lane:
        description: 'Lane version (alpha, beta, or production)'
        required: true
        type: string

jobs:
  play_store:
    name: 'Play Store'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout source code'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: 'Decrypt secret configuration'
        run: ./.github/scripts/decrypt_secret.sh
        env:
          PASSPHRASE: ${{ secrets.PASSPHRASE }}
      - name: 'Check secret configuration'
        run: ./.github/scripts/check_secrets_decryption.sh
      - name: 'Download Artifact'
        uses: actions/download-artifact@v4
        with:
          name: 'aab-build'
      - name: 'Generate changelog'
        run: ./.github/scripts/generate_changelog.sh
      - name: 'Setup Ruby'
        uses: ruby/setup-ruby@v1.241.0
        with:
          ruby-version: '3.3.6'
          bundler-cache: true
        env:
          BUNDLE_GEMFILE: 'android/Gemfile'
      - name: 'Fastlane deploy ${{ inputs.lane }} lane'
        uses: maierj/fastlane-action@v3.1.0
        with:
          lane: ${{ inputs.lane }}
          subdirectory: 'android'
      - name: 'Generate Github release'
        # Only run on new tag
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          body_path: ${{ env.CHANGELOG_PATH }}