name: Workflow - Lint, Test and Build Flutter project

on:
  push:
    branches-ignore:
      - 'refs/tags/*'
    paths-ignore:
      - 'firebase_functions/**'
      - 'firebase_functions/functions/**'
      - '.github/workflows/repo.push-functions.yml'
      - 'page/**'

concurrency:
  group: ci-${{ github.ref }}-push-flutter
  cancel-in-progress: true

jobs:
  flutter-analyze:
    uses: vareversat/github-actions/.github/workflows/flutter.analyze.yml@v1.5.2
    with:
      flutter_version: '3.29.3'
    secrets: inherit
  flutter-format:
    uses: vareversat/github-actions/.github/workflows/flutter.format.yml@v1.5.2
    with:
      flutter_version: '3.29.3'
    secrets: inherit
  flutter-test:
    uses: vareversat/github-actions/.github/workflows/flutter.test.yml@v1.5.2
    with:
      flutter_version: '3.29.3'
    secrets: inherit
  flutter-build:
    uses: vareversat/github-actions/.github/workflows/flutter.build.yml@v1.5.2
    with:
      flutter_version: '3.29.3'
      java_version: '17.x'
      flutter_flavor: 'prod'
      build_android_aab: 'true'
    secrets: inherit

  fastlane-publish:
    needs: [ flutter-analyze, flutter-format, flutter-test, flutter-build ]
    uses: vareversat/github-actions/.github/workflows/flutter.publish.yml@v1.5.2
    with:
      lane: 'dry_run'
      url: 'https://play.google.com/console/u/0/developers/5699287307345981322/app/4976228446948711700/app-dashboard'
    secrets: inherit