name: Workflow - Publish project release

on:
  push:
    tags:
      - v*

concurrency:
  group: ci-${{ github.ref }}-tag
  cancel-in-progress: true

jobs:
  flutter-build:
    uses: vareversat/github-actions/.github/workflows/flutter.build.yml@v1.4.1
    with:
      flutter_version: '3.29.3'
      flutter_flavor: 'prod'
      java_version: '17.x'
      build_android_aab: 'true'
      build_android_apk: 'true'
    secrets: inherit

  fastlane-lane:
    uses: vareversat/github-actions/.github/workflows/fastlane.lane.yml@v1.4.1
    with:
      prerelease_suffix: 'beta'
  firebase-publish:
    uses: vareversat/github-actions/.github/workflows/firebase.function.publish.yml@v1.4.1
    with:
      node_version: '22.x'
      function_path: 'firebase_functions'
    secrets: inherit
  page-publish:
    uses: vareversat/github-actions/.github/workflows/global.page.yml@v1.4.1
    with:
      path: 'page'
  flutter-publish:
    needs: [ flutter-build ]
    uses: vareversat/github-actions/.github/workflows/flutter.publish.yml@v1.4.1
    with:
      lane: ${{ needs.fastlane-lane.outputs.lane }}
      url: 'https://play.google.com/console/u/0/developers/5699287307345981322/app/4972786398063514472/app-dashboard'
    secrets: inherit

  release:
    needs: [ flutter-publish ]
    uses: vareversat/github-actions/.github/workflows/global.release.yml@v1.4.1
    with:
      prerelease_suffix: 'beta'