name: Tag workflow

on:
  push:
    tags:
      - v*

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  flutter-test-analyze:
    uses: ./.github/workflows/flutter.analyze-test.action.yaml
    with:
      flutter_version: '3.24.5'
    secrets: inherit
  flutter-build:
    needs: [ flutter-test-analyze ]
    uses: ./.github/workflows/flutter.build.action.yaml
    with:
      flutter_version: '3.24.5'
      android_output: 'aab'
    secrets: inherit
  fastlane:
    needs: [ flutter-build ]
    uses: ./.github/workflows/fastlane.action.yaml
    with:
      lane: 'beta'
    secrets: inherit